@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@inject IWebAssemblyHostEnvironment environment;

<div class=@($"absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 {modalDisplay}")>
    <div class=@($"bg-gray-500 bg-opacity-75 {modalDisplay} items-center justify-center"))>
        <div class="relative h-auto p-5 text-left bg-white rounded shadow-xl">
            <div class="absolute top-2 right-2 px-2.5 py-1 bg-gray-100 text-black font-semibold hover:bg-red-500 hover:text-white rounded-sm cursor-pointer text-sm">
                <span @onclick="Close">&times;</span>
            </div>
            <div class="mt-2">
                <p class="text-sm text-gray-500">
                    <DynamicComponent Type="@ComponentPassed.ComponentType" Parameters="@ComponentPassed.Parameters" />
                </p>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public ComponentMetaData ComponentPassed { get; set; }

    private string modalDisplay = "flex";

    public void Open()
    {
        modalDisplay = "flex";
    }

    public void Close()
    {
        modalDisplay = "hidden";
    }
}